{% extends 'layouts/base.html' %}
{% block content %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% load humanize %}
<main class="container py-5">
    <h1 class="display-5 text-center fw-medium">Dashboard</h1>
    <br>
    {% include 'soc/dashboard/indicadores.html' %}
    <div class="container-fluid">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="bi bi-bar-chart" style="font-size: 2rem; color: #3c52d1;"></i>
                        <span class="ps-3">Análisis Económico Simple
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- Componentes # -->
                        <div class="row row-cols-2">
                            <div class="col">
                                {{ bar|safe }}
                            </div>
                            <div class="col">
                                {{ sun|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapsetwo">
                        <i class="bi bi-speedometer" style="font-size: 2rem; color: #3c52d1;"></i>
                        <span class="ps-3">Evolución de Obras
                    </button>
                </h2>
                <div id="flush-collapsetwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row row-cols-2">
                            <div class="col">
                                {{ boxplot|safe }}
                            </div>
                            <div class="col">
                                {{ Treemap|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}