{% extends 'layouts/base.html' %}
{% block content %}
{% block title %}Actas de Obras{% endblock %}
<main class="container py-5">
    <h3 class="display-3 text-center fw-medium">Actas de {{obra}}</h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-11 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese palabras claves..."
                                name="buscar" value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </span>
                        </div>

                    </div>
                </form>
            </div>
            {% if perms.mioc.add_actasobras %}
            <div class="col-1">
                <a href={% url 'nueva_acta' %} type="" class="btn btn-outline-secondary">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr size="5" color="grey" noshade>
    </class>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-success">
                <th>Cod. Acta</th>
                <th>Obra</th>
                <th>Tipo de acta</th>
                <th>Fecha apliación</th>
                <th>Instrumento</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for acta in actas %}
                <tr>
                    <td class="fw-semibold">{{ acta.codActa }}</td>
                    <td>{{ acta.obra.institucion.name }}</td>
                    <td>{{ acta.tipo.name }}</td>
                    <td>{{ acta.fecha }}</td>
                    <td>{{ acta.dispo }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <a type="button" class="btn btn-outline-info">Estado</a>
                            {% if perms.mioc.change_actasobras %}
                            <a type="button" class="btn btn-outline-success"
                                href="{% url 'editar_acta' acta.pk %}">Editar</a>
                            {% endif %}
                            {% if perms.mioc.delete_actasobras %}
                            <a type="button" class="btn btn-outline-danger"
                                href="{% url 'eliminar_acta' acta.pk %}" >Eliminar</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'layouts/paginator.html' %}
</main>
{% endblock %}