{% load humanize %}
{% if pend_estructuras or pend_acta_validar %}
<i class="bi bi-diagram-3 ps-3" style="font-size: 2rem; color: #3c52d1;"></i>
<spam class="h5 ps-3">Dpto. Certificaciones</spam>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <!-- Inicio de la primera sección -->
    {% if pend_estructuras %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseCuatro" aria-expanded="false" aria-controls="flush-collapseCuatro">
                <li class="ps-4">Estructuras a crear:</li>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ pend_estructuras }}</span>
                <span class="visually-hidden">mensajes sin leer</span>
                </span>
            </button>
        </h2>
        <div id="flush-collapseCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- Tasks view # -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-warning">
                            <th>Cod. Obra</th>
                            <th>Expediente</th>
                            <th>Obra</th>
                            <th>Ubicación</th>
                            <th>Empresa</th>
                            <th>Contrato</th>
                            </thead>
                            <tbody>
                            {% for z in sin_estructuras %}
                            <tr>
                            </td>
                                <td>{{z.codObra}}</td>
                                <td>{{z.expedientes}}</td>
                                <td>{{z.institucion.name}}</td>
                                <td>{{z.institucion.location.NOMLOC}}</td>
                                <td>{{z.empresa.name}}</td>
                                <td>${{z.monto_contrato|intword}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Fin de la primera sección -->
    <!-- Inicio de la segunda sección -->
    {% if pend_acta_validar %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                <li class="ps-4">Actas de Certificados a validar:</li>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ pend_acta_validar }}</span>
                <span class="visually-hidden">mensajes sin leer</span>
                </span>
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- Tasks view # -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-warning">
                            <th>Cod. Obra</th>
                            <th>Expediente</th>
                            <th>Obra</th>
                            <th>Empresa</th>
                            <th>Acta N°</th>
                            <th>Periodo</th>
                            <th>Acciones</th>
                            </thead>
                            <tbody>
                            {% for z in actas_sin_validar %}
                            <tr>
                            </td>
                                <td>{{z.obra.codObra}}</td>
                                <td>{{z.obra.expedientes}}</td>
                                <td>{{z.obra.institucion.name}}</td>
                                <td>{{z.obra.empresa.name}}</td>
                                <td>{{z.acta}}</td>
                                <td>{{z.periodo|date:"F y"}}</td>
                                <td><a type="button" class="btn btn-outline-success" href="{% url 'validar_acta' z.id %}"><i class="bi bi-clipboard2-check"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Fin de la segunda sección -->
    
</div>
{% endif %}