{% extends 'layouts/base.html' %}
{% block content %}
{% block title %}Detalle de Obras{% endblock %}
{% load crispy_forms_tags %}
{% load humanize %}

<main class="container py-5">
    <h1 class="display-5 text-center fw-medium">Detalle de Obras</h1>
    <br>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- inicio item -->
        {% for x in entity %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{ x.id }}" aria-expanded="false"
                    aria-controls="flush-collapse{{ x.id }}">
                    <b>{{ forloop.counter }}</b> - {{ x.codObra }} - {{ x.institucion.name }}
                </button>
            </h2>
            <div id="flush-collapse{{ x.id }}" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="h4">Datos Generales:</p>
                            <p>Expediente: <b>{{ x.expedientes }}</b></p>
                            <p>Carátula: <b>{{ x.nombre_obra }}</b></p>
                            <p>Tipo de obra: <b>{{ x.institucion.clase.name }} - {{ x.institucion.clase.subname }}</b></p>
                            <p>Departamento: <b>{{ x.institucion.location.NOMDEPTO }} (Cod. Dpto {{ x.institucion.location.CODDEPTO }})</b></p>
                            <p>Municipio: <b>{{ x.institucion.location.NOMMUNI }} (Cod. Mun. {{ x.institucion.location.CODMUNI }})</b></p>
                            <p>Localidad: <b>{{ x.institucion.location.NOMLOC }} (Cod. Loc. {{ x.institucion.location.CODLOC }})</b></p>
                            <p>Empresa Constructora: <b>{{ x.empresa }}</b> </p>
                            <p> > Representante Técnico: {{ x.empresa.representante_tecnico }}</p>
                            <p> > Propietario: {{ x.empresa.propietario }}</p>
                            <p> > Contacto: {{ x.empresa.email }} - {{ x.empresa.telephone }}</p>
                            <p>Fecha de inicio: <b>{{ x.inicio }}</b></p>
                            <p>Fecha de entrega: <b>{{ x.vencimiento_contractual }}</b></p>
                            <p>Monto de contrato ($): <b>{{ x.monto_contrato|intcomma }}</b></p>
                            <p>Monto de contrato (UVIS): <b>{{ x.monto_uvi|intcomma }}</b></p>
                            <hr>
                            <p class="h4">Certificados Emitidos:</p>
                            
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-primary">
                                        <th>N° Cert</th>
                                        <th>Periodo</th>
                                        <th>AV. Acum. Real</th>
                                        <th>AV. Acum. Proy.</th>
                                        <th>C. Avance</th>
                                    </thead>
                                    <tbody>
                                        {% for z in certificados %}
                                        {% if z.acta.obra.codObra == x.codObra %}
                                        <tr>
                                            <td>{{ z.acta.acta }}</td> </td>
                                            <td>{{ z.acta.periodo|date:"F y" }}</td>
                                            <td>{{ z.avance_acum_med }}%</td>
                                            <td>{{ z.avance_acum_proy }}%</td>
                                            <td>{% if z.coef_avance == True %}🟢⬆️ Sobre la curva{% else %}🔴⬇️ Bajo la curva{% endif %}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="h4">Resumen de memoria:</p>
                            {% for y in memoria %}
                            {% if y.obra.codObra == x.codObra %}
                            <p class="textarea" style="white-space: pre-wrap;">{{ y.resumen }}</p>
                            <span><i>Resumido por: <b>{{ y.user }}</b></i></span>
                            {% endif %}
                            {% endfor %}
                            <hr>
                            <p class="h4">Galeria:</p>
                            <figure class="figure">
                                <img src="{{ x.imagen }}" class="figure-img img-fluid rounded" alt="MIOC">
                                <figcaption class="figure-caption">Puente 3era etapa.</figcaption>
                            </figure>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- final item -->
    </div>
    {{ error }}
    {% include 'layouts/paginator.html' %}
</main>
{% endblock %}