{% extends 'layouts/base.html' %}
{% block content %}
{% block title %}Aseguradoras{% endblock %}
{% load static %}
<main class="container py-5">
    <h1 class="display-3 text-center fw-medium">Aseguradoras</h1>
    <br>
    <div class="container">
        <div class="row flex-fill">
            <div class="col-md-11 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese palabras claves..." name="buscar"
                                value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-1">
                <a href={% url 'nueva' %} type="" class="btn btn-outline-secondary">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <hr size="5" color="grey" noshade>
    </class>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-success">
                <th>Empresa</th>
                <th>Domicilio</th>
                <th>Teléfono</th>
                <th>Registró</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for x in entity %}
                <tr></td>
                    <td class="fw-semibold">{{x.empresa}}</td>
                    <td>{{x.location}}</td>
                    <td>{{x.telefono}}</td>
                    <td>{{x.creaEmpresa}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <a type="button" class="btn btn-outline-info">Polizas</a>
                            {% if perms.mioc.view_empresapoliza %}
                            <a type="button" class="btn btn-outline-success"
                                href="{% url 'editar' x.pk %}">Editar</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'paginator.html' %}
</main>
{% endblock %}