{% extends 'layouts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="container py-5">
    <h1 class="display-3 text-center fw-medium">Detalle de Obras</h1>
    <br>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- inicio item -->
        {% for x in obra %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{ x.id }}" aria-expanded="false" aria-controls="flush-collapse{{ x.id }}">
                    {{ x.obra.institucion.name }}
                </button>
            </h2>
            <div id="flush-collapse{{ x.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-7">
                            <p>{{ x.resumen }}</p>
                        </div>
                        <div class="col-md-5">
                            <figure class="figure">
                                <img src= "{{ x.imagen }}"
                                    class="figure-img img-fluid rounded" alt="MIOC">
                                <figcaption class="figure-caption">Puente 3era etapa.</figcaption>
                            </figure>
                            <p class="text-center"><span class="badge text-bg-primary">Avance esperado</span><span
                                    class="badge text-bg-success">Avance real</span></p>
                            <div class="progress" role="progressbar" aria-label="Primary example" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-primary" style="width: 45%">45%</div>
                            </div>
                            <br>
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 50%">50%</div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>comentario 1</li>
                        <li>comentario 2</li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- final item -->
    </div>
    {{ error }}
</main>
{% endblock %}