{% extends 'layouts/base.html' %}
{% block content %}

<main class="container py-5">
    <h1 class="display-3 text-center fw-medium">Listado de Obras</h1>
    <br>
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> ¡Atención! </strong> La obra aún no tiene certificados.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese palabras claves..."
                                name="buscar" value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </span>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr size="5" color="grey" noshade>
    </class>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-success">
                <th>Cod. Obra</th>
                <th>Obra</th>
                <th>Empresa</th>
                <th>Dpto</th>
                <th>Finaliza</th>
                <th>Inspector</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for obra in obras %}
                <tr>
                    </td>
                    <td class="fw-semibold">{{obra.codObra}}</td>
                    <td>{{obra.institucion.name}}</td>
                    <td>{{obra.empresa.name}}</td>
                    <td>{{obra.institucion.location.NOMDEPTO}}</td>
                    <td>{{obra.vencimiento_contractual}}</td>
                    <td>{{obra.inspector.fullname}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <a type="button" class="btn btn-outline-info" href="{% url 'obra_detalle' obra.id %}">Detalle</a>
                            <a type="button" class="btn btn-outline-info" href="{% url 'certificados_obra' obra.id %}">Actas</a>
                            <a type="button" class="btn btn-outline-info" href="{% url 'obra_poliza' obra.id %}">Poliza</a>
                            <a type="button" class="btn btn-outline-info" href="{% url 'certificados_obra' obra.pk %}">Certificados</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ perms.mioc }}
</main>

{% endblock %}