{% extends 'layouts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="container py-5">
    <h1 class="display-1 text-center fw-medium">Poliza de Sustitución {{form.codObra}}</h1>
    <br>
    <div class="row">
        {% if request.method == 'GET' %}
        {% if perms.mioc %}
        <div class="col-lg-6">
            <form action="" method="GET">
                <fieldset disabled>
                    <div class="col">
                        <p class="form-label">{{ form.institucion|as_crispy_field }}</p>
                        <p class="form-label">{{ form.expedientes|as_crispy_field }}</p>
                        <p class="form-label">{{ form.nombre_obra|as_crispy_field }}</p>
                        <p class="form-label">{{ form.empresa|as_crispy_field }}</p>
                        <p class="form-label"> {{ form.inspector|as_crispy_field }} </p>
                        <p class="form-label"> {{ form.inicio|as_crispy_field }} </p>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-6">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="col">
                    <!-- Vista Vanina -->
                    {% if perms.mioc.view_empresapoliza %}
                    <p class="form-label"> {{ form2.tiene_poliza|as_crispy_field }} </p>
                    {% if form2.tiene_poliza.value == True %}
                    <p class="form-label"> {{ form2.acta_fondo_reparo|as_crispy_field }} </p>
                    <p class="form-label"> {{ form2.poliza_sustitucion|as_crispy_field }} </p>
                    <p class="form-label"> {{ form2.empresa_poliza|as_crispy_field }} </p>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type='submit' class="btn btn-primary"> Actualizar</button>
                    <a href={% url 'obras' %} class="btn btn-secondary">Volver</a>
                </div>
            </form>
            <div class="d-flex justify-content-end mt-3">
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {{ error }}
    
</main>
{% endblock %}