{% extends 'layouts/base.html' %}
{% block content %}
{% block title %}Polizas de Sustitución{% endblock %}
{% load static %}
{% load humanize %}
<main class="container py-5">
    <h1 class="display-5 text-center fw-medium">Polizas de Sustitución FR</h1>
    <br>
    <div class="container">
        <div class="row flex-fill">
            <div class="col-md-11 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese palabras claves..." name="buscar"
                                value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            {% if perms.mioc.add_empresapoliza %}
            <div class="col-1">
                <a href="{% url 'nueva_poliza' %}" type="" class="btn btn-outline-secondary">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr size="5" color="grey" noshade>
    </class>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-success">
                <th>Cod Acta</th>
                <th>Obra</th>
                <th>Póliza</th>
                <th>Aseguradora</th>
                <th>Monto</th>
                <th>Registró</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for x in entity %}
                <tr></td>
                    <td class="fw-semibold">{{x.codPol}}</td>
                    <td>{{x.obra.institucion.name}}</td>
                    <td>{% if x.tiene_poliza == null %}⚠️{% elif x.tiene_poliza == True %}✅{% else %}❌{% endif %}</td>
                    <td>{{x.empresa_poliza}}</td>
                    <td>${{x.monto_asegurado|intcomma}}</td>
                    <td>{{x.user}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <a type="button" class="btn btn-outline-info" href="#"><i class="bi bi-search"></i></a>
                            {% if perms.mioc.change_polizas %}
                            <a type="button" class="btn btn-outline-success" href="{% url 'editar_poliza' x.id %}"><i class="bi bi-pencil-square"></i></a>
                            {% endif %}
                            {% if perms.mioc.delete_polizas %}
                            <a type="button" class="btn btn-outline-danger"
                                href="{% url 'eliminar_poliza' x.id %}"><i class="bi bi-trash3"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'layouts/paginator.html' %}
</main>
{% endblock %}